@import "tailwindcss";

.main-padding {
  @apply mx-auto px-5 sm:px-6 lg:px-12 max-w-7xl;
}

.scrollbar-hide ::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
